nav{
/*   width: 100px; */
  height: 30px;
  margin: 5px;
  padding: 15px;
  align-content:space-between;
}

#titleSplash{
  display: flex;
justify-content: space-evenly;
font-size: 70px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:#EAE2B7
}

#linkBox{
display: flex;
justify-content: space-between;
font-size: 30px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{text-decoration: none;
  color: #EAE2B7;
}

nav a:hover {
  /* background-color: rgb(134, 75, 7); */
  color: #F77F00;
}

body{
  background-color: #003049;
}

/* Cards */

#card-elem {
  
  display: flex; 
  justify-content: space-evenly;
}

section{
  margin-top: 80px;
  margin-bottom: 180px;
}

p #card-elem{
  color:#003049;
  text-shadow: #540B0E;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  height: fit-content; /*fit-content allows the elements to change sie to fit the text*/
  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  height: 200px;
  height: fit-content;/*fit-content allows the elements to change sie to fit the text*/

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb;*/
  border: solid #FCBF49 5px;
  color: #003049; 
  font-size: 50px;
  padding: 30px;
  /* text-decoration: underline; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #F77F00;
  /* background-image: linear-gradient(to right top, #7aa46e, #87b075, #94bb7d, #a2c784, #b0d38c); */
    
  
}

/* Style the back side */
.flip-card-back {
  color: #003049; 
  border: solid #f77F00 5px;
  font-size: 30px;
  padding: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #FCBF49;
  /* background-image: linear-gradient(to right top, #7aa46e, #87b075, #94bb7d, #a2c784, #b0d38c); */
  transform: rotateY(180deg);
    
  
}


/* Other */

#button{
  /* margin:100px;
  justify-content: center; */
  margin-left: 46%;
  font-size: 35px;
  font-family: sans-serif;
  font-weight: bold;
}

button {
  border: 0;
  background: #FCBF49;
  border-radius: 4px;
  box-shadow: 0 5px 0 #F77F00 ;
  color: #003049;
  cursor: pointer;
  font: inherit;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
  margin: 20px;
  justify-content: center;
}

button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

/* Footer Section */
img{
  width: 60px;
  height: 60px;
  margin: 5px;
  padding: 25px;
  align-content:space-between;
  display:inline-block;
}

/* About Us */

#usPg{
  color:#EAE2B7;
  font-size: 100px;
}